extends layout.pug

block content

  article.portfolio-intro
    h1 My Portfolio
    p A series of projects created during my time as a Treehouse student

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src= `${project.square_pic}`, alt=`Preview image for ${project.project_name}`)
            h5= project.project_name
